@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_JobEditLayout";

    ViewData["Screen"] = "General";
}

<h2>Job General</h2>


    <p>This is where the user will see general information regarding the job.</p>
    <ul>
        <li>Job Number</li>
        <li>Purchase Order Number</li>
        <li>Client</li>
        <li>A button to view client address information</li>
        <li>Contact</li>
        <li>Contact Phone</li>
    </ul>
