@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_JobEditLayout";

    ViewData["Screen"] = "Material";
}

<h2>Job Material</h2>


    <p>This is where the user will see Material Cost List for the job.</p>
    <ul>
        <li>(Hidden) Material Id</li>
        <li>Purchase Order Number</li>
        <li>Material Description</li>
        <li>Material U/M</li>
        <li>Material Cost</li>
        <li>Total Material Cost</li>
    </ul>
    <p>
        Total Material Cost for Job
    </p>

    <p>Clicking the Edit link for a Material Item allows the user to edit that line</p>
