<!--  ADMINISTRATION NAVIGATION -->
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="nav nav-pills">

                <li class="nav-item">
                    @{
                        if (ViewData["Screen"]?.ToString() == "Employees")
                        {
                            <a class="nav-link active" asp-area="" asp-controller="Administration" asp-action="Employees">Employees</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Employees">Employees</a>
                        }
                    }

                </li>
                <li class="nav-item">
                    @{
                        if (ViewData["Screen"]?.ToString() == "Payroll")
                        {
                            <a class="nav-link active" asp-area="" asp-controller="Administration" asp-action="Payroll">Payroll</a>
                        }
                        else
                        {
                            <a class="nav-link " asp-area="" asp-controller="Administration" asp-action="Payroll">Payroll</a>
                        }
                    }

                </li>
                <li class="nav-item">
                    @{
                        if (ViewData["Screen"]?.ToString() == "Settings")
                        {
                            <a class="nav-link active" asp-area="" asp-controller="Administration" asp-action="Settings">Settings</a>
                        }
                        else
                        {
                            <a class="nav-link " asp-area="" asp-controller="Administration" asp-action="Settings">Settings</a>
                        }
                    }

                </li>
            </ul>
        </div>
    </div>
</nav>